* {
	margin: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body {
	font-family: 'Ubuntu', sans-serif;
	font-display: swap;
	padding: 3rem 15%;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	min-height: 640px;
	color: rgb(60,60,60);
	font-weight: 400;
}

/**********/
/* HEADER */
/**********/

body>header {
	padding: 1rem 0;
}
h1 {
	font-size: 1.6rem;
	font-weight: 300;
}


/************/
/* ELEMENTS */
/************/


a {
	color: rgb(60,60,60);
}
/****************/
/* CONTACT LIST */
/****************/

article h1 {
	position: relative;
	background-color: rgb(245,245,245);
	padding-left: 1.5rem;
	border-radius: 0.3rem;
	z-index: 10;
   /* will-change: transform; */
}
article h1#sticky {
	display: block;
	position: fixed;
	top: 0;
	left: 15%;
	width: 70%;
	background-color: rgb(245,245,245);
	z-index: 0;
}
.hide {
	visibility: hidden;
}
article ul {
	padding: 0;
}

article>ul>li {
	font-size: 1.4rem;
}
article header {
	display: flex;
	align-items: center;
}
article ul ul a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1rem;
	padding: 0.5rem;
	text-align: center;
}
article a:hover {
	background-color: rgb(250,250,250);
}
.modal {
	display: none;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255,255,255);
	z-index: 90;
	line-height: 2;
}
.modal img {
	width: 10rem;
	height: 10rem;
	margin-bottom: 1rem;
}
.modal:target {
	display: flex;
}
.modal:target img#imgThumbnail {
	display: none;
}
.modal:target img#imgLarge {
	display: block;
}
.modal [href] {
	padding: 1rem;
}
article img {
	border-radius: 50%;
}
article header img {
	height: 3rem;
	widows: 3rem;
	margin-right: 1rem;
	background-color: rgb(245,245,245);
}
a h1 {
	position: sticky;
	top: 0;
}
/************/
/* SIDE NAV */
/************/

aside {
	position: fixed;
	top: 0;
	right: 0;
}
aside ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 640px;
	padding: 4rem 3vw 0 0;
}
aside a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	width: 2rem;
	transition: all 200ms ease;
}
aside li:first-of-type a {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
aside li:last-of-type a {
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
aside a:hover, .cur {
	color: rgb(255,255,255);
	background-color: rgb(255,130,100);
}
a.cur:hover {
	color: rgb(255,130,100) !important;
	background-color: rgb(255,255,255) !important;
}

aside div {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-color: blue;
}

input {
	width: 100%;
	margin: 1rem 0;
	padding: 0.5rem;
	font-size: 1.2rem;
	border: 1px solid rgb(200,200,200);
	border-radius: 0.3rem;
}
input.hidden {
	display: none;
}


