
/*********/
/* RESET */
/*********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	text-decoration: none;
	list-style: none;
	border-collapse: collapse;
	box-sizing: border-box;
}


/********/
/* MAIN */
/********/

html {
	font-size: 62.5%;
}
body {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: rgb(60,60,60);
	font-size: 1.4rem;
	scroll-behavior: smooth;
	border-radius: 1rem;
	background-color: rgb(250,250,250);
}
body.ismobile {
	font-size: 2em;
}
section {
	padding: 10rem 15%;
}

/************/
/* ELEMENTS */
/************/

header {
	padding: 1rem 0 2rem 0;
}
h1 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.5;
}
h2 {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.5;
}

/*******/
/* NAV */
/*******/

nav {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	min-height: 6rem;
	z-index: 80;
	border-bottom: 1px solid rgb(240,240,240);
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.96);
}
body.enhanced nav {
	position: fixed;
}
nav ul {
	display: flex;
	padding: 0 15%;
}
nav li {
	display: block;
}
body.enhanced nav li {
	display: inline-block;
}
nav a {
	display: block;
	line-height: 6rem;
	padding: 0 1rem;
	color: rgb(60,60,60);
	transition: all 100ms ease;
}
nav a:hover {
	color: rgb(60,160,240);
}
body.enhanced #submenu a::after {
	content: "";
	display: block;
	position: relative;
	bottom: 0.2rem;
	width: 0;
	left: 50%;
	height: 0.2rem;
	background-color: rgb(60,160,240);
	transition: all 150ms ease;
}
body.enhanced #submenu a:hover::after {
	width: 100%;
	left: 0;
}
nav>ul>li:first-of-type {
	font-weight: 600;
}

/* HAMBURGER */

nav>ul>li:last-of-type {
	display: none;
}
#hamburger {
	display: none;
	position: relative;
	top: 0;
	height: 6rem;
	flex-direction: column;
	justify-content: space-around;
}
body.enhanced #hamburger {
	display: flex;
}
#hamburger span {
	display: block;
	width: 1.5rem;
	height: 0.2rem;
	margin: 0.2rem 0;
	background-color: rgb(60,60,60);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	transition: all 200ms ease-in-out;
}
#hamburger span::before, #hamburger span::after {
	content: "";
	display: block;
	width: 1.5rem;
	height: 0.2rem;
	margin: 0.2rem 0;
	background-color: rgb(60,60,60);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	transition: all 200ms ease-in-out;
}
nav li:first-of-type:hover {
	cursor: pointer;
}
#hamburger:hover span {
	background-color: rgb(60,160,240);
}
body.enhanced #submenu {
	height: 0;
	display: inline-block;
	transition: all 300ms ease;
}
@media screen and (max-width: 960px) {
	nav ul {
		flex-direction: column;
	}
	nav>ul>li:last-of-type {
		display: block;
	}
	nav>ul>li:first-of-type {
		position: absolute;
		width: 100px;
		width: min-content;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
	body.enhanced #submenu {
		display: block;
		height: 0;
		overflow: hidden;
		transition: all 300ms ease;
	}
	body.enhanced #submenu li {
		display: block;
	}
	nav a {
		line-height: 2rem;
		padding: 2rem;
		width: min-content;
		white-space: nowrap;
	}
	nav.showmenu #submenu {
		height: 100vh;
		transition: all 300ms ease;
	}
	nav.showmenu #submenu li {
		display: block;
	}
	nav.showmenu #hamburger span::before {
		transform: rotate(45deg);
		transform-origin: left bottom;
		margin-top: 0.1rem;
	}
	nav.showmenu #hamburger span {
		width: 0;
	}
	nav.showmenu #hamburger span::after {
		transform: rotate(-45deg);
		transform-origin: left top;
		margin-top: 0.1rem;
	}
}

/***********/
/* ARTICLE */
/***********/

article {
	display: flex;
}
article>a {
	display: inline-block;
	position: relative;
	width: 30%;
	height: 30vw;
	border-radius: 0.3rem;
	overflow: hidden;
	margin: 1.5% 0;
	top: -1rem;
}
article>a:hover {
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
article>a:nth-of-type(3n+2) {
	margin: 1.5% 3%;
}

a>img {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 100ms ease-out;
}
a>img.fallback {
	height: 100%;
	min-width: 100%;
	width: auto;
	transform-origin: 25% center;
}
@media screen and (max-width: 960px) {
	article {
		flex-direction: column;
	}
	article a:not(figure>a) {
		width: 100%;
		margin: 1.5% 0 !important;
		height: 20vw;
	}
	img {
		left: 0 !important;
		width: 100%;
	}
	a>img.fallback {
		width: 100%;
		min-height: 100%;
		height: auto;
	}
}

article>a:hover img {
	transform: scale(1.03);
}
article>a figcaption {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2rem;
	color: rgb(60,60,60);
	transition: all 150ms ease-out;
	opacity: 0;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.6);
}
article>a:hover figcaption {
	opacity: 1;
}
.lightbox {
	display: none;
	position: absolute;
	left: 0vw;
	top: 0vh;
	width: 100%;
	height: 100%;
	z-index: 90;
	padding: 7.5rem;
	background-color: rgb(35,35,35);
	background-color: rgba(0,0,0,0.85);
	color: rgb(255,255,255);
	line-height: 3;
}
.lightbox:target {
	display: block;
}
.lightbox img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: 0 auto;
}
.lightbox figcaption {
	width: 100%;
	text-align: center;
}
figure a {
	position: absolute;
	top: 5rem;
	right: 5rem;
	color: rgb(255,255,255);
	font-size: 5rem;
	text-shadow: 0 0 2rem rgb(120,120,120);
	text-shadow: 0 0 2rem rgba(0,0,0,0.4);
}

